<p id="notice"><%= notice %></p>

<h1>User Organizations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Organization</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_organizations.each do |user_organization| %>
      <tr>
        <td><%= user_organization.user.email %></td>
        <td><%= user_organization.organization.name %></td>
        <td><%= link_to 'Show', user_organization %></td>
        <td><%= link_to 'Edit', edit_user_organization_path(user_organization) %></td>
        <td><%= link_to 'Destroy', user_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Organization', new_user_organization_path %>
